@import url("https://fonts.googleapis.com/css2?family=Lilita+One&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700&display=swap');

/* REACT APP STYLING */
.App {
  text-align: center;
  font-family: 'Raleway', sans-serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-image: linear-gradient(rgb(236, 236, 236), white, white, white, white, white, white, white, white,white,white, rgb(236, 236, 236));
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #0C120C;
}

.App-link {
  color: #0C120C;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

html,
body {
  margin: 0;
  padding: 0;
  background-image: linear-gradient(rgb(236, 236, 236), rgb(255, 255, 255), white, white, white, white, white, white, white,white,white, rgb(236, 236, 236));
}

h1 {
  letter-spacing: 0.5px;
  font-family: 'Permanent Marker', cursive;
  font-size: 70px;
  color: #2D268E;
}

.update{
  font-size: 35px;  
}

.welcome-page{
  margin-top: -20%;
  letter-spacing: 0.5px;
  font-family: 'Permanent Marker', cursive;
  font-size: 65px;
  color: #2D268E;
}

#footer{
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
  padding: 10px;
}

/* ORB STYLING */
html,
body {
  margin: 0;
  padding: 0;
}

.orb-normal {
  width: 250px;
  height: 250px;
  -webkit-animation: shapeColorShift 7s infinite;
          animation: shapeColorShift 7s infinite;
  -webkit-filter: blur(12px);
          filter: blur(12px);
  background: linear-gradient(-45deg, #08AEEA, #2AF598, #2AF598, #F72585, #27b2ff, #ffffff, #000000, #FFBD00);
  background-size: 500% 800%;
}
.orb-normal:before {
  content: '';
  display: block;
  position: absolute;
  top: -10px;
  right: -35px;
  bottom: -35px;
  left: -10px;
  background: inherit;
  -webkit-filter: blur(30px);
          filter: blur(30px);
  opacity: .6;
  -webkit-animation: shapeColorShift 7s infinite;
          animation: shapeColorShift 7s infinite;
}

.orb-low {
  width: 250px;
  height: 250px;
  -webkit-animation: shapeColorShift 7s infinite;
          animation: shapeColorShift 7s infinite;
  -webkit-filter: blur(12px);
          filter: blur(12px);
  background: linear-gradient(-45deg, #08AEEA, #2D268E , #0D0221, #0086ff, #27b2ff, rgb(234, 251, 253), #0E0E52, #449DD1);
  background-size: 500% 800%;
}
.orb-low:before {
  content: '';
  display: block;
  position: absolute;
  top: -10px;
  right: -35px;
  bottom: -35px;
  left: -10px;
  background: inherit;
  -webkit-filter: blur(30px);
          filter: blur(30px);
  opacity: .6;
  -webkit-animation: shapeColorShift 7s infinite;
          animation: shapeColorShift 7s infinite;
}

.orb-high {
  width: 250px;
  height: 250px;
  -webkit-animation: shapeColorShift 7s infinite;
          animation: shapeColorShift 7s infinite;
  -webkit-filter: blur(12px);
          filter: blur(12px);
  background: linear-gradient(-45deg, #F35B04, #F18701, #F7B801, #C42021, #610345, #ffffff, #FF1B1C, #95190C);
  background-size: 500% 800%;
}
.orb-high:before {
  content: '';
  display: block;
  position: absolute;
  top: -10px;
  right: -35px;
  bottom: -35px;
  left: -10px;
  background: inherit;
  -webkit-filter: blur(30px);
          filter: blur(30px);
  opacity: .6;
  -webkit-animation: shapeColorShift 7s infinite;
          animation: shapeColorShift 7s infinite;
}

@-webkit-keyframes shapeColorShift {
  0% {
    border-radius: 50vw 50vw 50vw 50vw / 50vw 50vw 50vw 50vw;
    background-position: 0% 0%;
  }
  50% {
    border-radius: 20vw 40vw 20vw 40vw / 20vw 40vw 20vw 40vw;
    background-position: 100% 100%;
  }
  100% {
    border-radius: 50vw 50vw 50vw 50vw / 50vw 50vw 50vw 50vw;
    background-position: 0% 0%;
    -webkit-transform: rotate(1turn);
            transform: rotate(1turn);
  }
}

@keyframes shapeColorShift {
  0% {
    border-radius: 50vw 50vw 50vw 50vw / 50vw 50vw 50vw 50vw;
    background-position: 0% 0%;
  }
  50% {
    border-radius: 20vw 40vw 20vw 40vw / 20vw 40vw 20vw 40vw;
    background-position: 100% 100%;
  }
  100% {
    border-radius: 50vw 50vw 50vw 50vw / 50vw 50vw 50vw 50vw;
    background-position: 0% 0%;
    -webkit-transform: rotate(1turn);
            transform: rotate(1turn);
  }
}
*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: "Assistant", sans-serif;
}

body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
}


/* BLOOD SUGAR DISPLAY STYLING */
.egv {
  font-family: 'Permanent Marker', cursive;
  z-index: 0;
  content: "";
  display: block;
  position: absolute;
  font-size: 70px;
  color: white;
  margin-top: -185px;
  margin-left: 73px;
}

/* TEXT BUTTON */


button {
  cursor: pointer;
  outline: none;
}
button.outline {
  font-family: 'Raleway', sans-serif;
  position: relative;
  z-index: 3;
  background: transparent;
  color: #2D268E;
  font-size: 25px;
  border-color: #2D268E;
  border-style: solid;
  border-width: 2px;
  border-radius: 50px;
  padding: 10px 80px;
  text-transform: uppercase;
  transition: all 0.2s linear;
}
button.outline a {
  text-decoration: none;
}
button.outline:hover {
  color: white;
  background: #2D268E;
  border-color: white;
  transition: all 0.2s linear;
}
button.outline:active {
  border-radius: 22px;
}


/* ROUND IMAGE BUTTON */
button.round {
  position: relative;
  background: transparent;
  color: #2D268E;
  font-size: 30px;
  border-color: #2D268E;
  border-style: solid;
  border-width: 0px;
  border-radius: 50% 50%;
  padding: 20px 20px;
  text-transform: uppercase;
  transition: all 0.2s linear;
}
button.round a {
  text-decoration: none;
}
button.round:hover {
  color: white;
  background: #2D268E;
  border-color: white;
  transition: all 0.2s linear;
}
button.round:active {
  border-radius: 50%;
}

#drop {
  position: relative;
  margin-top: 35px;
}

#icon {
  position: relative;
  right: 2%;
}

#graph {
  position: relative;
  margin-top: 35px;
  margin-right: 6%;
}

#icon-buttons {
  position: relative;
}

/* SYMPTOM BUTTONS */
.sweaty {
  background-image: url(./img/mood.png);
}
input#sweaty {
  display: none;
}
.weak {
  background-image: url(./img/mood.png);
}
input#weak {
  display: none;
}
.irritable {
  background-image: url(./img/mood.png);
}
input#irritable {
  display: none;
}
.sleepy {
  background-image: url(./img/mood.png);
}
input#sleepy {
  display: none;
}
.hungry {
  background-image: url(./img/mood.png);
}
input#hungry {
  display: none;
}
.dizzy {
  background-image: url(./img/mood.png);
}
input#dizzy {
  display: none;
}

.cc-selector input{
  margin:0;padding:0;
  -webkit-appearance:none;
     -moz-appearance:none;
          appearance:none;
}

.cc-selector input:active +.drinkcard-cc{opacity: .9;}
.cc-selector input#sweaty:checked +.drinkcard-cc{
  background-image: url(./img/sweaty-text.png);
  transition: all 0.4s linear;
  -webkit-filter: none;
     -moz-filter: none;
          filter: none;
}
.cc-selector input#weak:checked +.drinkcard-cc{
  background-image: url(./img/weak-text.png);
  transition: all 0.4s linear;
  -webkit-filter: none;
     -moz-filter: none;
          filter: none;
}
.cc-selector input#irritable:checked +.drinkcard-cc{
  background-image: url(./img/irritable-text.png);
  transition: all 0.4s linear;
  -webkit-filter: none;
     -moz-filter: none;
          filter: none;
}
.cc-selector input#hungry:checked +.drinkcard-cc{
  background-image: url(./img/hungry-text.png);
  transition: all 0.4s linear;
  -webkit-filter: none;
     -moz-filter: none;
          filter: none;
}
.cc-selector input#dizzy:checked +.drinkcard-cc{
  background-image: url(./img/dizzy-text.png);
  transition: all 0.4s linear;
  -webkit-filter: none;
     -moz-filter: none;
          filter: none;
}
.cc-selector input#sleepy:checked +.drinkcard-cc{
  background-image: url(./img/sleepy-text.png);
  transition: all 0.4s linear;
  -webkit-filter: none;
     -moz-filter: none;
          filter: none;
}

.drinkcard-cc{
  cursor:pointer;
  background-size:contain;
  background-repeat:no-repeat;
  display:inline-block;
  width:100px;height:70px;
  -webkit-transition: all 100ms ease-in;
     -moz-transition: all 100ms ease-in;
          transition: all 100ms ease-in;
}

.drinkcard-cc.sweaty:hover{
  background-image: url(./img/sweaty-text.png);
  -webkit-filter: brightness(1.2) grayscale(.5) opacity(.9);
     -moz-filter: brightness(1.2) grayscale(.5) opacity(.9);
          filter: brightness(1.2) grayscale(.5) opacity(.9);     
}
.drinkcard-cc.weak:hover{
  background-image: url(./img/weak-text.png);
  -webkit-filter: brightness(1.2) grayscale(.5) opacity(.9);
     -moz-filter: brightness(1.2) grayscale(.5) opacity(.9);
          filter: brightness(1.2) grayscale(.5) opacity(.9);     
}
.drinkcard-cc.irritable:hover{
  background-image: url(./img/irritable-text.png);
  -webkit-filter: brightness(1.2) grayscale(.5) opacity(.9);
     -moz-filter: brightness(1.2) grayscale(.5) opacity(.9);
          filter: brightness(1.2) grayscale(.5) opacity(.9);     
}
.drinkcard-cc.hungry:hover{
  background-image: url(./img/hungry-text.png);
  -webkit-filter: brightness(1.2) grayscale(.5) opacity(.9);
     -moz-filter: brightness(1.2) grayscale(.5) opacity(.9);
          filter: brightness(1.2) grayscale(.5) opacity(.9);     
}
.drinkcard-cc.dizzy:hover{
  background-image: url(./img/dizzy-text.png);
  -webkit-filter: brightness(1.2) grayscale(.5) opacity(.9);
     -moz-filter: brightness(1.2) grayscale(.5) opacity(.9);
          filter: brightness(1.2) grayscale(.5) opacity(.9);     
}
.drinkcard-cc.sleepy:hover{
  background-image: url(./img/sleepy-text.png);
  -webkit-filter: brightness(1.2) grayscale(.5) opacity(.9);
     -moz-filter: brightness(1.2) grayscale(.5) opacity(.9);
          filter: brightness(1.2) grayscale(.5) opacity(.9);     
}