@import url("https://fonts.googleapis.com/css2?family=Lilita+One&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

/* REACT APP STYLING */
.App {
  position: absolute;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  top: 18%;
  width: 100%;
  margin: auto;
  margin-bottom: 100px;
}

.app-log-overlay {
    position: relative;
}

.app-logo {
    position: relative;
    margin: auto;
    width: 290px;
    height: 280px;
    top: -290px;
    margin-bottom: -280px;
    z-index: -1;
    background: linear-gradient(315deg, #ccd45f, #2d268e, #17bb9f, #d0259c);
    background-size: 800% 800%;
    -webkit-animation: LogoAnimation 19s ease infinite;
    -moz-animation: LogoAnimation 19s ease infinite;
    animation: LogoAnimation 19s ease infinite;
}

@-webkit-keyframes LogoAnimation {
    0%{background-position:0% 24%}
    50%{background-position:100% 77%}
    100%{background-position:0% 24%}
}
@-moz-keyframes LogoAnimation {
    0%{background-position:0% 24%}
    50%{background-position:100% 77%}
    100%{background-position:0% 24%}
}
@keyframes LogoAnimation {
    0%{background-position:0% 24%}
    50%{background-position:100% 77%}
    100%{background-position:0% 24%}
}

.app-logo-fade-in {
    animation: fadeIn ease 2s;
    -webkit-animation: fadeIn ease 2s;
    -moz-animation: fadeIn ease 2s;
    -o-animation: fadeIn ease 2s;
    -ms-animation: fadeIn ease 2s;
}

@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }


html,


body {
  margin: auto; 
  padding: 0 ;
  background-image: linear-gradient(rgb(236, 236, 236), rgb(255, 255, 255),  white, white, white, white, white,white, rgb(255, 255, 255),  rgb(255, 255, 255), rgb(236, 236, 236), rgb(236, 236, 236));
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
        align-items: center;
  -webkit-backface-visibility: hidden;
}

h1 {
  letter-spacing: 0.5px;
  font-family: 'Permanent Marker', cursive;
  font-size: 45px;
  color: #2D268E;
}

#high-text{
  color: #FF1B1C
}

#low-text{
  color: #0D0221
}

#footer{
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
  margin-top: 16px;
  color: white;
}

.footer{
    position: fixed;
    bottom: 0px;
    width: 100%;
    padding: 0px;
    margin-top: 100px;
}

.chart {
    justify-content: center;
}

/* ORB STYLING */

.orb-mask {
    position: absolute;
    z-index: 0;
    margin: auto;
    width: 240px;
    height: 240px;
    top: 100%;
    padding: 500px;
    background-image: radial-gradient(transparent 150px, transparent 150px, black);
    pointer-events: none;
}


.orb-noAlert {
  position: relative;
  width: 240px;
  height: 240px;
  -webkit-animation: shapeColorShift 7s infinite;
          animation: shapeColorShift 7s infinite;
  -webkit-filter: blur(12px);
          filter: blur(12px);
  background: linear-gradient(-45deg, #EFAAC4  , #d0259c, #D6D84F , #08AEEA, #ECD444, #CB429F, #2d268e);
  background-size: 500% 500%;
  margin: auto;
  display: block;
}
.orb-noAlert:before {
  z-index: 1;
  content: '';
  display: block;
  position: absolute;
  top: -10px;
  right: -35px;
  bottom: -35px;
  left: -10px;
  background: inherit;
  -webkit-filter: blur(30px);
          filter: blur(30px);
  opacity: .6;
  -webkit-animation: shapeColorShift 7s infinite;
          animation: shapeColorShift 7s infinite;
}

.orb-lowAlert {
  position: relative;
  width: 240px;
  height: 240px;
  -webkit-animation: shapeColorShift 7s infinite;
          animation: shapeColorShift 7s infinite;
  -webkit-filter: blur(12px);
          filter: blur(12px);
  background: linear-gradient(-45deg, #0D0221, #2D268E , #0D0221, #004b8d, #2d268e, #1F271B, #0E0E52, #0D0221);
  background-size: 500% 800%;
  margin: auto;
}
.orb-lowAlert:before {
  z-index: 1;
  content: '';
  display: block;
  position: absolute;
  top: -10px;
  right: -35px;
  bottom: -35px;
  left: -10px;
  background: inherit;
  -webkit-filter: blur(30px);
          filter: blur(30px);
  opacity: .6;
  -webkit-animation: shapeColorShift 7s infinite;
          animation: shapeColorShift 7s infinite;
}
.orb-highAlert {
  position: relative;
  width: 240px;
  height: 240px;
  -webkit-animation: shapeColorShift 7s infinite;
          animation: shapeColorShift 7s infinite;
  -webkit-filter: blur(12px);
          filter: blur(12px);
  background: linear-gradient(-45deg, #FB62F6, #F18701, #F7B801, #C42021, #610345, #ffffff, #FF1B1C, #95190C);
  background-size: 500% 800%;
  margin: auto;
}
.orb-highAlert:before {
  z-index: 1;
  content: '';
  display: block;
  position: absolute;
  top: -10px;
  right: -35px;
  bottom: -35px;
  left: -10px;
  background: inherit;
  -webkit-filter: blur(30px);
          filter: blur(30px);
  opacity: .6;
  -webkit-animation: shapeColorShift 7s infinite;
          animation: shapeColorShift 7s infinite;
}

@-webkit-keyframes shapeColorShift {
  0% {
    border-radius: 50vw 50vw 50vw 50vw / 50vw 50vw 50vw 50vw;
    background-position: 0% 0%;
  }
  50% {
    border-radius: 20vw 40vw 20vw 40vw / 20vw 40vw 20vw 40vw;
    background-position: 100% 100%;
  }
  100% {
    border-radius: 50vw 50vw 50vw 50vw / 50vw 50vw 50vw 50vw;
    background-position: 0% 0%;
    -webkit-transform: rotate(1turn);
            transform: rotate(1turn);
  }
}

@keyframes shapeColorShift {
  0% {
    border-radius: 50vw 50vw 50vw 50vw / 50vw 50vw 50vw 50vw;
    background-position: 0% 0%;
  }
  50% {
    border-radius: 20vw 40vw 20vw 40vw / 20vw 40vw 20vw 40vw;
    background-position: 0% 0%;
  }
  100% {
    border-radius: 50vw 50vw 50vw 50vw / 50vw 50vw 50vw 50vw;
    background-position: 0% 0%;
    -webkit-transform: rotate(1turn);
            transform: rotate(1turn);
  }
}
*,
*:before,
*:after {
  box-sizing: border-box;
}


/* BLOOD SUGAR DISPLAY STYLING */
.egv {
  position: relative;
  font-family: 'Roboto', sans-serif;
  /* font-family: 'Raleway', sans-serif; */
  /* font-family: 'Permanent Marker', cursive; */
  z-index: 3;
  /* content: ""; */
  display: block;
  font-size: 70px;
  color: white;
  margin: auto;
  margin-top: -175px;
}

/* #lowAlert {
    border-color: #0D0221;
}
#highAlert {
    border-color: #95190C;
} */

/* TEXT BUTTON */

button {
  cursor: pointer;
  outline: none;
}
button.outline {
  font-family: 'Raleway', sans-serif;
  position: relative;
  z-index: 3;
  background: transparent;
  color: #2D268E;
  font-size: 25px;
  border-color: #2D268E;
  border-style: solid;
  border-width: 2px;
  border-radius: 50px;
  padding: 10px 75px;
  text-transform: uppercase;
  transition: all 0.2s linear;
}
button.outline a {
  text-decoration: none;
}
button.outline:hover {
  color: white;
  background: #2D268E;
  border-color: white;
  transition: all 0.2s linear;
}
button.outline:active {
  border-radius: 22px;
}


/* ROUND IMAGE BUTTON */
button.round {
  position: relative;
  background: transparent;
  color: #2D268E;
  font-size: 30px;
  border-color: #2D268E;
  border-style: solid;
  border-width: 0px;
  border-radius: 50% 50%;
  padding: 1px 1px;
  text-transform: uppercase;
  transition: all 0.2s linear;
}
button.round a {
  text-decoration: none;
}
button.round:hover {
  color: white;
  background: #2D268E;
  border-color: white;
  transition: all 0.2s linear;
}
button.round:active {
  border-radius: 50%;
}

#drop {
  position: relative;
  margin-top: 35px;
}

#icon {
  position: relative;
  right: 2%;
}

#graph {
  position: relative;
  margin-top: 35px;
  margin-right: 6%;
}

#icon-buttons {
  position: relative;
  margin: auto;
  margin-top: 140px;
  margin-left: 40px;
}

/* SYMPTOM BUTTONS */
.cc-selector input{
    margin:0;padding:0;
    -webkit-appearance:none;
       -moz-appearance:none;
            appearance:none;
  }
.cc-selector input:active +.drinkcard-cc{opacity: .9;}
.drinkcard-cc{
  cursor:pointer;
  background-size:contain;
  background-repeat:no-repeat;
  display:inline-block;
  width:100px;height:70px;
  -webkit-transition: all 100ms ease-in;
     -moz-transition: all 100ms ease-in;
          transition: all 100ms ease-in;
}


.sweaty {
  background-image: url(./img/emojis/sweaty-small.png);
}
input#sweaty {
  display: none;
}
.cc-selector input#sweaty:checked +.drinkcard-cc{
    background-image: url(./img/emoji-text/sweaty-text-small.png);
    transition: all 0.4s linear;
    -webkit-filter: none;
       -moz-filter: none;
            filter: none;
  }
.drinkcard-cc.sweaty:hover{
background-image: url(./img/emoji-text/sweaty-text-small.png);
-webkit-filter: brightness(1.2) grayscale(.5) opacity(.9);
    -moz-filter: brightness(1.2) grayscale(.5) opacity(.9);
        filter: brightness(1.2) grayscale(.5) opacity(.9);     
}


.irritable {
  background-image: url(./img/emojis/irritable-small.png);
}
input#irritable {
  display: none;
}
.cc-selector input#irritable:checked +.drinkcard-cc{
    background-image: url(./img/emoji-text/irritable-text-small.png);
    transition: all 0.4s linear;
    -webkit-filter: none;
       -moz-filter: none;
            filter: none;
  }
.drinkcard-cc.irritable:hover{
background-image: url(./img/emoji-text/irritable-text-small.png);
-webkit-filter: brightness(1.2) grayscale(.5) opacity(.9);
    -moz-filter: brightness(1.2) grayscale(.5) opacity(.9);
        filter: brightness(1.2) grayscale(.5) opacity(.9);     
}

.hungry {
  background-image: url(./img/emojis/hungry-small.png);
}
input#hungry {
  display: none;
}
.cc-selector input#hungry:checked +.drinkcard-cc{
    background-image: url(./img/emoji-text/hungry-text-small.png);
    transition: all 0.4s linear;
    -webkit-filter: none;
       -moz-filter: none;
            filter: none;
  }
.drinkcard-cc.hungry:hover{
background-image: url(./img/emoji-text/hungry-text-small.png);
-webkit-filter: brightness(1.2) grayscale(.5) opacity(.9);
    -moz-filter: brightness(1.2) grayscale(.5) opacity(.9);
        filter: brightness(1.2) grayscale(.5) opacity(.9);     
}

.dizzy {
  background-image: url(./img/emojis/dizzy-small.png);
}
input#dizzy {
  display: none;
}
.cc-selector input#dizzy:checked +.drinkcard-cc{
    background-image: url(./img/emoji-text/dizzy-text-small.png);
    transition: all 0.4s linear;
    -webkit-filter: none;
       -moz-filter: none;
            filter: none;
  }
.drinkcard-cc.dizzy:hover{
background-image: url(./img/emoji-text/dizzy-text-small.png);
-webkit-filter: brightness(1.2) grayscale(.5) opacity(.9);
    -moz-filter: brightness(1.2) grayscale(.5) opacity(.9);
        filter: brightness(1.2) grayscale(.5) opacity(.9);     
}

.sleepy {
  background-image: url(./img/emojis/sleepy-small.png);
}
input#sleepy {
  display: none;
}
.cc-selector input#sleepy:checked +.drinkcard-cc{
    background-image: url(./img/emoji-text/sleepy-text-small.png);
    transition: all 0.4s linear;
    -webkit-filter: none;
       -moz-filter: none;
            filter: none;
  }
.drinkcard-cc.sleepy:hover{
background-image: url(./img/emoji-text/sleepy-text-small.png);
-webkit-filter: brightness(1.2) grayscale(.5) opacity(.9);
    -moz-filter: brightness(1.2) grayscale(.5) opacity(.9);
        filter: brightness(1.2) grayscale(.5) opacity(.9);     
}

.shaky {
  background-image: url(./img/emojis/shaky-small.png);
}
input#shaky {
  display: none;
}
.cc-selector input#shaky:checked +.drinkcard-cc{
    background-image: url(./img/emoji-text/shaky-text-small.png);
    transition: all 0.4s linear;
    -webkit-filter: none;
       -moz-filter: none;
            filter: none;
  }
.drinkcard-cc.shaky:hover{
background-image: url(./img/emoji-text/shaky-text-small.png);
-webkit-filter: brightness(1.2) grayscale(.5) opacity(.9);
    -moz-filter: brightness(1.2) grayscale(.5) opacity(.9);
        filter: brightness(1.2) grayscale(.5) opacity(.9);     
}

.thirsty {
  background-image: url(./img/emojis/thirsty-two-small.png);
}
input#thirsty {
  display: none;
}
.cc-selector input#thirsty:checked +.drinkcard-cc{
    background-image: url(./img/emoji-text/thirsty-text-small.png);
    transition: all 0.4s linear;
    -webkit-filter: none;
       -moz-filter: none;
            filter: none;
  }
.drinkcard-cc.thirsty:hover{
background-image: url(./img/emoji-text/thirsty-text-small.png);
-webkit-filter: brightness(1.2) grayscale(.5) opacity(.9);
    -moz-filter: brightness(1.2) grayscale(.5) opacity(.9);
        filter: brightness(1.2) grayscale(.5) opacity(.9);     
}

.frequent-urination {
  background-image: url(./img/emojis/frequent-urination-two-small.png);
}
input#frequent-urination {
  display: none;
}
.cc-selector input#frequent-urination:checked +.drinkcard-cc{
    background-image: url(./img/emoji-text/frequent-urination-text-small.png);
    transition: all 0.4s linear;
    -webkit-filter: none;
       -moz-filter: none;
            filter: none;
  }
.drinkcard-cc.frequent-urination:hover{
background-image: url(./img/emoji-text/frequent-urination-text-small.png);
-webkit-filter: brightness(1.2) grayscale(.5) opacity(.9);
    -moz-filter: brightness(1.2) grayscale(.5) opacity(.9);
        filter: brightness(1.2) grayscale(.5) opacity(.9);     
}

.blurry-vision {
  background-image: url(./img/emojis/blurry-vision-small.png);
}
input#blurry-vision {
  display: none;
}
.cc-selector input#blurry-vision:checked +.drinkcard-cc{
    background-image: url(./img/emoji-text/blurry-vision-text-small.png);
    transition: all 0.4s linear;
    -webkit-filter: none;
       -moz-filter: none;
            filter: none;
  }
.drinkcard-cc.blurry-vision:hover{
background-image: url(./img/emoji-text/blurry-vision-text-small.png);
-webkit-filter: brightness(1.2) grayscale(.5) opacity(.9);
    -moz-filter: brightness(1.2) grayscale(.5) opacity(.9);
        filter: brightness(1.2) grayscale(.5) opacity(.9);     
}

.headache {
  background-image: url(./img/emojis/headache-small.png);
}
input#headache {
  display: none;
}
.cc-selector input#headache:checked +.drinkcard-cc{
    background-image: url(./img/emoji-text/headache-text-small.png);
    transition: all 0.4s linear;
    -webkit-filter: none;
       -moz-filter: none;
            filter: none;
  }
.drinkcard-cc.headache:hover{
background-image: url(./img/emoji-text/headache-text-small.png);
-webkit-filter: brightness(1.2) grayscale(.5) opacity(.9);
    -moz-filter: brightness(1.2) grayscale(.5) opacity(.9);
        filter: brightness(1.2) grayscale(.5) opacity(.9);     
}
