/* REACT APP STYLING */
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-image: linear-gradient(rgb(236, 236, 236), white, white, white, white, white, white, white, white,white,white, rgb(236, 236, 236));
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #0C120C;
}

.App-link {
  color: #0C120C;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

html,
body {
  margin: 0;
  padding: 0;
  background-image: linear-gradient(rgb(236, 236, 236), white, white, white, white, white, white, white, white,white,white, rgb(236, 236, 236));
}

.welcome-page{
  margin-top: -20%;
}

/* ORB STYLING */
.orb {
  width: 180px;
  height: 180px;
  -webkit-animation: shapeColorShift 7s infinite;
          animation: shapeColorShift 7s infinite;
  -webkit-filter: blur(12px);
          filter: blur(12px);
  background: linear-gradient(-45deg, #7765E3
  , #6564DB
  , #2D268E, #0086ff, #27b2ff, #C6C013, #FF6868 , #08aeea);
  background-size: 500% 800%;
}
.orb:before {
  z-index: -200;
  content: "";
  display: block;
  position: absolute;
  top: -10px;
  right: -35px;
  bottom: -35px;
  left: -10px;
  background: inherit;
  -webkit-filter: blur(30px);
          filter: blur(30px);
  opacity: 0.6;
  -webkit-animation: shapeColorShift 7s infinite;
          animation: shapeColorShift 7s infinite;
}

@-webkit-keyframes shapeColorShift {
  0% {
    border-radius: 50vw 50vw 50vw 50vw / 50vw 50vw 50vw 50vw;
    background-position: 0% 0%;
  }
  50% {
    border-radius: 20vw 40vw 20vw 40vw / 20vw 40vw 20vw 40vw;
    background-position: 100% 100%;
  }
  100% {
    border-radius: 50vw 50vw 50vw 50vw / 50vw 50vw 50vw 50vw;
    background-position: 0% 0%;
    -webkit-transform: rotate(1turn);
            transform: rotate(1turn);
  }
}

@keyframes shapeColorShift {
  0% {
    border-radius: 50vw 50vw 50vw 50vw / 50vw 50vw 50vw 50vw;
    background-position: 0% 0%;
  }
  50% {
    border-radius: 20vw 40vw 20vw 40vw / 20vw 40vw 20vw 40vw;
    background-position: 100% 100%;
  }
  100% {
    border-radius: 50vw 50vw 50vw 50vw / 50vw 50vw 50vw 50vw;
    background-position: 0% 0%;
    -webkit-transform: rotate(1turn);
            transform: rotate(1turn);
  }
}
*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: "Assistant", sans-serif;
}

body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
}


/* BLOOD SUGAR DISPLAY STYLING */
.egvs {
  z-index: 0;
  content: "";
  display: block;
  position: absolute;
  font-size: 60px;
  color: white;
  top: 24%;


  /* width: 180px;
  height: 180px; */
  /* background-position: 100% 100%; */
}

/* SQUARE TEXT BUTTON */
@import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@700&display=swap");

h1 {
  font-family: 'Balsamiq Sans', cursive;
  /* font-weight: 400; */
  letter-spacing: 0.5px;
  font-size: 70px;
  color: #2D268E;
}

button {
  cursor: pointer;
  outline: none;
}
button.outline {
  position: relative;
  z-index: 3;
  background: transparent;
  color: #2D268E;
  font-size: 30px;
  border-color: #2D268E;
  border-style: solid;
  border-width: 2px;
  border-radius: 22px;
  padding: 15px 120px;
  text-transform: uppercase;
  transition: all 0.2s linear;
}
button.outline a {
  text-decoration: none;
}
button.outline:hover {
  color: white;
  background: #2D268E;
  border-color: white;
  transition: all 0.2s linear;
}
button.outline:active {
  border-radius: 22px;
}


/* ROUND ICON BUTTON */
button.round {
  position: relative;
  z-index: 3;
  background: transparent;
  color: #2D268E;
  font-size: 30px;
  border-color: #2D268E;
  border-style: solid;
  border-width: 0px;
  border-radius: 50% 50%;
  padding: 10px 10px;
  text-transform: uppercase;
  transition: all 0.2s linear;
}
button.round a {
  text-decoration: none;
}
button.round:hover {
  color: white;
  background: #2D268E;
  border-color: white;
  transition: all 0.2s linear;
}
button.round:active {
  border-radius: 50%;
}


